<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" contetn="ie=edge">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <title>Pokémon Info</title>
    </head>
    <body>
        <h2>Enter Poké ID Below</h2>
        <form action='pokemon' method='post'>
            <input type='text' name='pID'>
            <br><br>
            <input type='submit' value='Get Info'>
        </form>
        <button id="random">Random Pokémon</button>
        <div class="Info">
        </div>
        <script>
            $(document).ready(function(){
                $("button").click(function(){
                    var id =$(this).html();
                    $.get(
                        "/random",
                        (res) => {
                            var str = "";
                            str += "<h5>Name: " + res.name + "</h5>";
                            str += "<h5>Types:</h5>";
                            str += "<h5><ul>"
                            var i = 0;
                            while(i<res.types.length)
                            {
                                str += "<ol>" + res.types[i] + "</ol>"
                                i++;
                            }
                            str += "</ul></h5>"
                            str += "<h5> Height: " + res.height + "</h5>";
                            str += "<h5> Weight: " + res.weight + "</h5>";
                            str += "<h5> Sprites: </h5>";
                            var x = 0;
                            while(x<res.sprites.length)
                            {
                                str += "<img src='" + res.sprites[x] + "' alt='sprite'>"
                                x++;
                            }
                            $(".Info").html(str);
                        }
                    )
                });
            });
        </script>
    </body>
</html>